<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel ="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="video/html" id="videoTmpl">
  <div class = "col-md-4" >
  <div class="vidTitle">
  <%= title %>
  </div>
  <div class="vidUrl">
  <%= url %>
  </div>
  <div class="vidHtml">
  <%= html %>
  </div>
  </div>

  </script>
</head>
<body>

  <div class ="container-fluid title">
    <center>Title</center>
    <div class="dark">
    <form>
    	<span><input type="text" class="search rounded" placeholder="Search..."></span>
    </form>
  </div>
</div>

  <div class ="container-fluid row">
    <ul class ="itemList">
     <li class = "threePosts" >
       <div class = "col-md-4 columnOne rPost text-center" ><button>Description</button></div>
       <div class= "col-md-4 columnOne rPost text-center"><button>Description</button></div>
       <div class= "col-md-4 columnOne rPost text-center"><button>Description</button></div>
     </li>
   </ul>
  </div>

<div class="goHere"></div>

<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
<script type="text/javascript" src="template.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
