<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reddit Digest</title>
  <link rel ="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="video/html" id="videoTmpl">

  <div class ="col-md-4 vidBox">
  <div class="toolbox">
  <i class="fa fa-user cool"> <%= author %></i><i class="fa fa-chevron-up cool"></i><i class="fa fa-chevron-down cool"></i>
  </div>
  <div class="vidUrl">
  url:<%= url %>
  </div>
  <div class="vidTitle">
  title: <%= title %>
  </div>
  <div class="vidThumbnail">
  <img src="<%= thumbnail %>"/>
  </div>
  <div class="vidScore">
  Score: <%= score %>
  </div>
  <div class="vidOver18">
  Over 18? <%= over18 %>
  </div>
  <div class="vidSuthor">
  author: <%= author %>
  </div>
  <div class="vidUps">
  Ups: <%= ups %>
  </div>
  <div class="vidDowns">
  Downs: <%= downs %>
  </div>
  <div class="vidSubReddit">
  Subreddit: <%= subreddit %>
  </div>
 </div>
 </script>
</head>

<!-- to be added -->
<body>
  <div class ="container-fluid title">
    <center><i class="fa fa-reddit"></i></label>Digest</center>
    <div class="dark">
      <label for="search">/r/</label>
    	<input type="text" class="search subredditEntry">
  </div>
</div>

<div class ="contentContainer">
  <ul class="itemList">
    <li class = "container-fluid row threePosts rpost goHere text-center">
    </li>
  </ul>
</div>

<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
<script type="text/javascript" src="template.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
