.title{
  width:100%;
  background-color:blue;
  height: 12em;
}

 .title center{
  font-size: 5em;
  margin-top: 2%;
}
/* Styling for find button */

.rInputForm {
  margin: 0 auto;
  width: 250px;
}

.rounded {
  width: 90%;
}

.dark {
  margin: 0 auto;
}

.dark input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:#505358;
}

.itemList{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.row{
  margin-left: 5%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5%;
  margin-top:1%;
}

.threePosts{

}

.columnOne{
  padding:0;
}

/*Drop Down */
.dropdown {
  list-style: none;
  float: right;
  position:absolute;
  right: 0;
  bottom: 0;

}
.listItemTitle {
 text-align: center;
 font-style: oblique;
}
.descrip {
 padding-left: 7px;
 padding-right: 7px;
}

.col-md-4 {
  margin-top: 10px;
}
