.title{
  width:100%;
  background-color:blue;
  height: 12em;
}

 .title center{
  font-size: 5em;
  margin-top: 2%;
}
/* Styling for find button */

.rInputForm {
  margin: 0 auto;
  width: 250px;
}

.rInputForm label {
  color: white;
}

.subredditEntry {
  width: 90%;
  color: white;
}

.dark {
  margin: 0 auto;
}

.col-md-4 {
  margin-top: 10px;
}

.dark input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:white;
}

.itemList{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.row{
  margin-left: 5%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5%;
  margin-top:1%;
}

.threePosts{

}

.columnOne{
  padding:0;
}

/*Drop Down */

.info-button {
 background-color: rgb(255, 255, 255);
 display: block;
}
.dropdown {
 width: 300px;
 display: inline-block;
}
.dropdown:hover .dropdown-menu {
   display: block;
}
.dropdown-menu {
 color: black;
 position: absolute;
 bottom: 100%;
 right: 0;
 margin: 0;
}
.listItemTitle {
text-align: center;
font-style: oblique;
background-color: white;
color: black;
}
.descrip {
padding-left: 7px;
padding-right: 7px;
background-color: white;
}

.dropdown-content {
  background-color: white;
  border: 2px solid black;
}

/* Template Stuff */

.vidBox {
  border: 1px solid black;
}

.cool {
  margin: 3px;
  font-size: 2rem;
  color: black;
}
